In [3]:
import pandas
dataframe = pandas.read_csv("salaries_by_college_major.csv")
clean_dataframe = dataframe.dropna()
highest_5 = clean_dataframe.sort_values("Mid-Career 90th Percentile Salary", ascending=False)
highest_5[["Undergraduate Major", "Mid-Career 90th Percentile Salary"]].head()

     Undergraduate Major  Mid-Career 90th Percentile Salary
17             Economics                           210000.0
22               Finance                           195000.0
8   Chemical Engineering                           194000.0
37                  Math                           183000.0
44               Physics                           178000.0

In [4]:
spread = clean_dataframe["Mid-Career 90th Percentile Salary"] - clean_dataframe["Starting Median Salary"]
clean_dataframe.insert(1,"Spread", spread)
highest_spread = clean_dataframe.sort_values('Spread', ascending=False)
highest_spread[['Undergraduate Major', 'Spread']].head()

     Undergraduate Major    Spread
17             Economics  159900.0
22               Finance  147100.0
37                  Math  137600.0
36             Marketing  134200.0
8   Chemical Engineering  130800.0