In [1]:
import pandas
dataframe = pandas.read_csv("salaries_by_college_major.csv")
clean_dataframe = dataframe.dropna()

clean_dataframe.groupby("Group").count()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,,
Business,12,12,12,12,12
HASS,22,22,22,22,22
STEM,16,16,16,16,16