In [ ]:
import pandas
dataframe = pandas.read_csv("salaries_by_college_major.csv")
dataframe.head()

In [ ]:

dataframe.shape

In [ ]:
dataframe.tail()

In [ ]:
dataframe.isna()

In [ ]:
clean_dataframe = dataframe.dropna()
clean_dataframe

In [ ]:
#clean_dataframe
clean_dataframe["Starting Median Salary"].max()

In [45]:
clean_dataframe["Starting Median Salary"].max()

74300.0

In [47]:
clean_dataframe["Starting Median Salary"].idxmax()

43

In [48]:
clean_dataframe["Starting Median Salary"].loc[43]

74300.0

In [ ]:
clean_dataframe.loc[43]

In [55]:
clean_dataframe.head()
clean_dataframe["Mid-Career Median Salary"].max()
clean_dataframe["Mid-Career Median Salary"].idxmax()
clean_dataframe["Mid-Career Median Salary"].loc[8]
clean_dataframe.loc[8]

Undergraduate Major                  Chemical Engineering
Starting Median Salary                            63200.0
Mid-Career Median Salary                         107000.0
Mid-Career 10th Percentile Salary                 71900.0
Mid-Career 90th Percentile Salary                194000.0
Group                                                STEM
Name: 8, dtype: object